<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
</head>
<body>
    <!-- voorbeeld voor dynamic data -->
    <!-- <h1>Route to: <%=  %></h1> -->
    
    <h1> <%= data[1].title %> </h1>
    <h2>test2</h2>

</body>
</html>