<!DOCTYPE html>
<html lang="en">
<head>
    <%- include views/head.ejs -%>
</head>
<body>
    <!-- voorbeeld voor dynamic data -->
    <!-- <h1>Route to: <%=  %></h1> -->
    
    <h1>test</h1>
    <h2>test2</h2>

</body>
</html>